In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('./simple_tax_amount_table.xls', header=4)
df[:5]

    이상     미만 Unnamed: 2  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
0  770  775.0          -  ...           -           -           -
1  775  780.0          -  ...           -           -           -
2  780  785.0          -  ...           -           -           -
3  785  790.0          -  ...           -           -           -
4  790  795.0          -  ...           -           -           -

[5 rows x 13 columns]

In [ ]:
df.columns.values[2:] = [x for x in range(1, 12)]

In [ ]:
df[:5]

    이상     미만  1  2  3  4  5  6  7  8  9 10 11
0  770  775.0  -  -  -  -  -  -  -  -  -  -  -
1  775  780.0  -  -  -  -  -  -  -  -  -  -  -
2  780  785.0  -  -  -  -  -  -  -  -  -  -  -
3  785  790.0  -  -  -  -  -  -  -  -  -  -  -
4  790  795.0  -  -  -  -  -  -  -  -  -  -  -

In [ ]:
df.dtypes

이상     object
미만    float64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9      object
10     object
11     object
dtype: object

In [ ]:
df[-15:]

              이상       미만  ...       10       11
644         9960   9980.0  ...  1029280   999280
645         9980  10000.0  ...  1033650  1003650
646     10,000천원      NaN  ...  1035840  1005840
647  10,000천원 초과      NaN  ...      NaN      NaN
648  14,000천원 이하      NaN  ...      NaN      NaN
649  14,000천원 초과      NaN  ...      NaN      NaN
650  28,000천원 이하      NaN  ...      NaN      NaN
651  28,000천원 초과      NaN  ...      NaN      NaN
652  30,000천원 이하      NaN  ...      NaN      NaN
653  30,000천원 초과      NaN  ...      NaN      NaN
654  45,000천원 이하      NaN  ...      NaN      NaN
655  45,000천원 초과      NaN  ...      NaN      NaN
656  87,000천원 이하      NaN  ...      NaN      NaN
657  87,000천원 초과      NaN  ...      NaN      NaN
658          NaN      NaN  ...      NaN      NaN

[15 rows x 13 columns]

In [ ]:
df.drop(df.index[647:], inplace=True)
df

           이상       미만        1        2  ...        8        9       10       11
0         770    775.0        -        -  ...        -        -        -        -
1         775    780.0        -        -  ...        -        -        -        -
2         780    785.0        -        -  ...        -        -        -        -
3         785    790.0        -        -  ...        -        -        -        -
4         790    795.0        -        -  ...        -        -        -        -
..        ...      ...      ...      ...  ...      ...      ...      ...      ...
642      9920   9940.0  1528520  1452800  ...  1080550  1050550  1020550   990550
643      9940   9960.0  1535340  1459590  ...  1084920  1054920  1024920   994920
644      9960   9980.0  1542170  1466380  ...  1089280  1059280  1029280   999280
645      9980  10000.0  1548990  1473170  ...  1093650  1063650  1033650  1003650
646  10,000천원      NaN  1552400  1476570  ...  1095840  1065840  1035840  1005840

[647 rows x 13 columns]

In [ ]:
df.loc[646, '이상'] = 10000

In [ ]:
df

        이상       미만        1        2  ...        8        9       10       11
0      770    775.0        -        -  ...        -        -        -        -
1      775    780.0        -        -  ...        -        -        -        -
2      780    785.0        -        -  ...        -        -        -        -
3      785    790.0        -        -  ...        -        -        -        -
4      790    795.0        -        -  ...        -        -        -        -
..     ...      ...      ...      ...  ...      ...      ...      ...      ...
642   9920   9940.0  1528520  1452800  ...  1080550  1050550  1020550   990550
643   9940   9960.0  1535340  1459590  ...  1084920  1054920  1024920   994920
644   9960   9980.0  1542170  1466380  ...  1089280  1059280  1029280   999280
645   9980  10000.0  1548990  1473170  ...  1093650  1063650  1033650  1003650
646  10000      NaN  1552400  1476570  ...  1095840  1065840  1035840  1005840

[647 rows x 13 columns]

In [ ]:
df = df.replace('-', 0)

In [ ]:
df.dtypes

이상    float64
미만    float64
1       int64
2       int64
3       int64
4       int64
5       int64
6       int64
7       int64
8       int64
9       int64
10      int64
11      int64
dtype: object

In [ ]:
df = df.fillna(0)

In [ ]:
df = df.astype('int64')

In [ ]:
df.dtypes

이상    int64
미만    int64
1     int64
2     int64
3     int64
4     int64
5     int64
6     int64
7     int64
8     int64
9     int64
10    int64
11    int64
dtype: object

In [ ]:
df

        이상     미만        1        2  ...        8        9       10       11
0      770    775        0        0  ...        0        0        0        0
1      775    780        0        0  ...        0        0        0        0
2      780    785        0        0  ...        0        0        0        0
3      785    790        0        0  ...        0        0        0        0
4      790    795        0        0  ...        0        0        0        0
..     ...    ...      ...      ...  ...      ...      ...      ...      ...
642   9920   9940  1528520  1452800  ...  1080550  1050550  1020550   990550
643   9940   9960  1535340  1459590  ...  1084920  1054920  1024920   994920
644   9960   9980  1542170  1466380  ...  1089280  1059280  1029280   999280
645   9980  10000  1548990  1473170  ...  1093650  1063650  1033650  1003650
646  10000      0  1552400  1476570  ...  1095840  1065840  1035840  1005840

[647 rows x 13 columns]

In [ ]:
df.to_excel('./modified_simple_tax_amount_table.xls', index=False)